---
# Vaultwarden App Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaultwarden
  namespace: vaultwarden
spec:
  replicas: {{ replicas | default(1) }}
  selector:
    matchLabels:
      app: vaultwarden
  template:
    metadata:
      labels:
        app: vaultwarden
    spec:
      nodeSelector: {{ nodeSelector | default('{}') }}
      containers:
      - name: vaultwarden
        image: {{ image.registry }}/{{ image.repository }}:{{ image.tag }}
        imagePullPolicy: {{ image.pullPolicy | default('IfNotPresent') }}
        env:
        - name: DOMAIN
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: DOMAIN
        - name: WEB_VAULT_ENABLED
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: WEB_VAULT_ENABLED
        - name: ADMIN_TOKEN
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: ADMIN_TOKEN
        - name: SIGNUPS_ALLOWED
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: SIGNUPS_ALLOWED
        - name: INVITATIONS_ALLOWED
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: INVITATIONS_ALLOWED
        - name: DB_TYPE
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: DB_TYPE
        - name: STORAGE_CLAIM
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: STORAGE_CLAIM
        - name: PUID
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: PUID
        - name: PGID
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: PGID
        - name: TZ
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: TZ
        - name: SMTP_HOST
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: SMTP_HOST
        - name: SMTP_PORT
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: SMTP_PORT
        - name: SMTP_SECURITY
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: SMTP_SECURITY
        - name: SMTP_USERNAME
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: SMTP_USERNAME
        - name: SMTP_PASSWORD
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: SMTP_PASSWORD
        - name: SMTP_FROM
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: SMTP_FROM
        resources:
          requests:
            memory: {{ resources.requests.memory | default('256Mi') }}
            cpu: {{ resources.requests.cpu | default('100m') }}
          limits:
            memory: {{ resources.limits.memory | default('512Mi') }}
            cpu: {{ resources.limits.cpu | default('500m') }}
        volumeMounts:
        - name: data
          mountPath: /data
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: vaultwarden-data-pvc
      securityContext:
        runAsUser: {{ vault_nfs_uid }}
        runAsGroup: {{ vault_nfs_gid }}
        fsGroup: {{ vault_nfs_gid }}
