---
# Vaultwarden Secret
apiVersion: v1
kind: Secret
metadata:
  name: vaultwarden-secret
  namespace: vaultwarden
type: Opaque
stringData:
  admin-token: "{{ app_definitions.vaultwarden.secrets.admin_token }}"
