---
# Generic Ingress Template with Traefik TLS/Let's Encrypt
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ service_name }}-ingress
  namespace: {{ k8s_namespace | default(service_name) }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
{% if traefik_acme_enabled | default(false) and not traefik_wildcard_cert_enabled | default(false) %}
    traefik.ingress.kubernetes.io/router.tls.certresolver: letsencrypt
{% endif %}
spec:
  ingressClassName: traefik
{% if traefik_acme_enabled | default(false) and not traefik_wildcard_cert_enabled | default(false) %}
  tls:
  - hosts:
    - {{ app_url | regex_replace('https?://','') }}
    secretName: {{ service_name }}-tls
{% endif %}
  rules:
  - host: {{ app_url | regex_replace('https?://','') }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ service_name }}
            port:
              number: {{ service_port | int }}
