# {{ app_name | title }} PersistentVolumeClaim - Longhorn Dynamic Provisioning
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_name }}-{{ volume_name }}-pvc
  namespace: {{ app_name }}
  annotations:
    # Enable automatic volume expansion
    volume.beta.kubernetes.io/storage-provisioner: driver.longhorn.io
  labels:
    app: {{ app_name }}
    volume-type: {{ volume_name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      # Start with minimal size - will grow as needed within limits
      storage: {{ initial_volume_size | default('100Mi') }}
  storageClassName: "{{ storage_class | default('longhorn') }}"
