{% if traefik_acme_enabled | default(false) and traefik_acme_dns_provider == 'cloudflare' %}
apiVersion: v1
kind: Secret
metadata:
  name: traefik-dns-secret
  namespace: traefik-system
type: Opaque
data:
  email: {{ vault_cloudflare_email_address | b64encode }}
  api-token: {{ vault_cloudflare_dns_api_key | b64encode }}
{% endif %}